.input {
  display: flex;
  align-items: center;
  background-color: var(--color-cyan-0);
  border-radius: var(--item-radius);
  padding-block: .6rem;
  padding-inline: 1rem;
}

.input:focus-within {
  outline-style: solid;
  outline-color: var(--color-primary);
  outline-width: 2px;
}

.input input {
  font-family: inherit;
  background: none;
  color: transparent;
  text-shadow: 0 0 0 var(--color-cyan-4);
  font-size: var(--font-size-big);
  border-style: none;
  width: 100%;
}

.input input::placeholder {
  color: var(--color-cyan-2);
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input input:focus {
  outline: none;
}

.input--right-aligned input {
  text-align: right;
}

.input--error,
.input--error:focus-within {
  outline-style: solid;
  outline-color: var(--color-error);
  outline-width: 2px;
}
