.app {
  max-width: var(--app-width);
  margin-top: 15%;
  margin-inline: auto;
}

.app-header {
  margin-bottom: 4rem;
}

.app-header h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.app-header h2 span {
  display: block;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--container-padding);
  margin-inline: 1rem;
  background-color: var(--color-white);
  border-radius: var(--container-radius);
}
