.icon {
  width: auto;
  height: 100%;
  min-width: 15px;
  min-height: 15px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--dollar {
  background-image: url(/src/assets/images/icon-dollar.svg);
}

.icon--person {
  background-image: url(/src/assets/images/icon-person.svg);
}
