.display {
  color: var(--color-white);
  background-color: var(--color-cyan-4);
  padding: var(--container-padding);
  border-radius: var(--container-radius-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-items > :not(:last-child) {
  margin-bottom: var(--item-bottom-margin);
}
